main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3, .precio {
    margin: 20px;
}

button {
    background: #ff7b00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    padding: 15px;
}

h3 {
    margin: 0;
    color: black;
    text-align: center;
}

.precio {
    color: green;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.menos, .mas {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: black;
}

span {
    font-size: x-large;
}