    body {
        background-image: url("/assets/fondo2.jpeg");
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: Arial;
    }

    header {
        background-color: rgba(84, 93, 102, 0.9);
        color: white;
        text-align: center;
        padding: 10px;
    }

    .titleIndex {
        font-size: 2.5em;
        text-transform: uppercase;
    }

    #loginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        height: 1.5rem;
        width: 15rem;
        border-radius: 8px;
        background-color: rgb(207, 204, 200);
        border: solid 1px;
        margin: 5px;
        padding: 8px;
    }

    button {
        width: 100px;
        height: 40px;
        font-size: medium;
        padding: 10px 20px;
        border-radius: 8px;
        background-color: rgb(139 166 203);
        border: none;
        margin: 5px;
    }

    button:hover {
        background-color: rgb(97, 134, 187);
        cursor: pointer;
    }

    .volver {
        font-size: medium;
        text-decoration: none;
        color: black;
        padding: 10px 20px;
        border-radius: 8px;
        border: solid 1px;
        margin: 5px;
    }

    .volver:hover {
        background-color: rgb(97, 134, 187);
        cursor: pointer;
    }