body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #ff7b00;
    color: white;
    padding: 1em;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 1em;
}

.card {
    border: 1px solid #ccc;
    padding: 1em;
    width: 200px;
    border-radius: 6px;
    background: white;
}