body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #222;
}

header {
    background-color: #545d66;
    color: white;
    text-align: center;
    padding: 20px 0 0 0;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    text-transform: uppercase;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #222;
    margin-top: 15px;
}

ul {
    margin: 0;
}

.main-nav li {
    margin: 0;
}

.main-nav li:last-child {
    border-right: none;
}

.main-nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: bold;
}

.main-nav a:hover {
    background-color: #555;
    color: #ffc107;
}

.categories {
    background-color: #ff7b00;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.categories h2 {
    margin-top: 0;
}

.categories ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.categories a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.categories a:hover {
    color: red;
}

.product-grid {
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: white;
}

.product-grid h2 {
    width: 100%;
    text-align: center;
    color: #007bff;
}

.product-card {
    border: 3px solid #222;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    text-align: center;
    background-color: #ffffff;
}

.product-card img {
    width: 100%;
    height: auto;
    display: block;
}

.price {
    color: green;
    font-size: 1.5em;
    font-weight: bold;
}

.btn {
    display: block;
    background-color: #ff7b00;
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
}

.btn:hover {
    background-color: #cc6300;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px 0;
    margin-top: 30px;
    font-size: 0.9em;
}